@layer base {
  input[type='checkbox'],
  .form-checkbox {
    color: var(--color-components-checkbox-bg-checked);
    accent-color: var(--color-components-checkbox-bg-checked);
    background-color: var(--color-components-checkbox-bg);
    border-color: var(--color-components-checkbox-border);
  }

  input[type='radio'],
  .form-radio {
    color: var(--color-components-radio-dot);
    accent-color: var(--color-components-radio-dot);
    background-color: var(--color-components-radio-bg);
    border-color: var(--color-components-radio-border);
  }

  input[type='checkbox']:checked,
  input[type='checkbox']:indeterminate,
  .form-checkbox:checked,
  .form-checkbox:indeterminate {
    background-color: var(--color-components-checkbox-bg-checked);
    border-color: var(--color-components-checkbox-border-checked);
  }

  input[type='radio']:checked,
  .form-radio:checked {
    background-color: var(--color-components-radio-dot);
    border-color: var(--color-components-radio-border-checked);
  }

  input[type='checkbox']:focus,
  input[type='radio']:focus,
  .form-checkbox:focus,
  .form-radio:focus {
    --tw-ring-color: var(--color-state-focus);
    --tw-ring-offset-color: var(--color-background-body);
  }

  input[type='range'] {
    accent-color: var(--color-components-slider-range);
  }
}
